.text-padding {
    margin: 0 auto;
    padding: 10rem 10rem 0 10rem;
}


h3 {
    font-size: 18px;
    text-transform: uppercase;
    color: #000000;
    letter-spacing: 2px;
    font-weight: 700;
    line-height: 2px;
}

h1 {
    font-size: 80px;
    color: #ffffff;
}

p {
    font-size: 22px;
    padding: 0 20px;
}

.count {
    font-size: 80px;
    color: #ffffff;
    text-align: center;
}

h5 {
    font-size: 20px;
    text-align: center;
}

.b-right {
    border-right: 1px solid #fff;
}

.p-bottom {
    padding-bottom: 10rem;
}

@media (max-width:767px) {
    .text-padding {
        padding: 6rem 0 0 0;
    }

    h3 {
        font-size: 16px;
    }

    h1 {
        font-size: 40px;
    }

    p {
        font-size: 16px;
    }

    .b-right {
        border-right: none;
        border-bottom: 1px solid #fff;
    }
}