<div class="container-fluid p-0">
    <div class="row">
        <div class="col-12">

            <div class="container">
                <div class="row">
                    <div class="col-12 text-center header-container">
                        <h3><strong>What We Do</strong></h3>
                        <h1>We’ve got everything you need to launch and grow your business </h1>
                    </div>
                </div>

                <div class="service-container mt-5">
                    <div class="row">
                        <div class="col-6 container-padding">
                            <div class="service-icon">
                                <img src="" alt="">  
                            </div>
    
                            <div class="service-text">
                                <h3>Brand identity</h3>
                                <p>Nemo cupiditate ab quibusdam quaerat impedit magni. Earum suscipit ipsum laudantium. Quo delectus est. Maiores voluptas ab sit natus veritatis ut. Debitis nulla cumque veritatis. Sunt suscipit voluptas ipsa in tempora esse soluta sint.</p>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="service-icon">
                                <img src="" alt="">  
                            </div>
    
                            <div class="service-text">
                                <h3>Illustration</h3>
                                <p>Nemo cupiditate ab quibusdam quaerat impedit magni. Earum suscipit ipsum laudantium. Quo delectus est. Maiores voluptas ab sit natus veritatis ut. Debitis nulla cumque veritatis. Sunt suscipit voluptas ipsa in tempora esse soluta sint.</p>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6 container-padding">
                            <div class="service-icon">
                                <img src="" alt="">  
                            </div>
    
                            <div class="service-text">
                                <h3>Marketing</h3>
                                <p>Nemo cupiditate ab quibusdam quaerat impedit magni. Earum suscipit ipsum laudantium. Quo delectus est. Maiores voluptas ab sit natus veritatis ut. Debitis nulla cumque veritatis. Sunt suscipit voluptas ipsa in tempora esse soluta sint.</p>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="service-icon">
                                <img src="" alt="">  
                            </div>
    
                            <div class="service-text">
                                <h3>Web Design</h3>
                                <p>Nemo cupiditate ab quibusdam quaerat impedit magni. Earum suscipit ipsum laudantium. Quo delectus est. Maiores voluptas ab sit natus veritatis ut. Debitis nulla cumque veritatis. Sunt suscipit voluptas ipsa in tempora esse soluta sint.</p>
                            </div>
                        </div>
                    </div>

                    <div class="row m-bottom">
                        <div class="col-6 container-padding">
                            <div class="service-icon">
                                <img src="" alt="">  
                            </div>
    
                            <div class="service-text">
                                <h3>Packaging Design</h3>
                                <p>Nemo cupiditate ab quibusdam quaerat impedit magni. Earum suscipit ipsum laudantium. Quo delectus est. Maiores voluptas ab sit natus veritatis ut. Debitis nulla cumque veritatis. Sunt suscipit voluptas ipsa in tempora esse soluta sint.</p>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="service-icon">
                                <img src="" alt="">  
                            </div>
    
                            <div class="service-text">
                                <h3>Web Development</h3>
                                <p>Nemo cupiditate ab quibusdam quaerat impedit magni. Earum suscipit ipsum laudantium. Quo delectus est. Maiores voluptas ab sit natus veritatis ut. Debitis nulla cumque veritatis. Sunt suscipit voluptas ipsa in tempora esse soluta sint.</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>