.header-container {
    margin: 0 auto;
    padding: 10rem 10rem 0 10rem;
}

.header-container h3 {
    font-size: 20px;
    color: #39b54a;
    letter-spacing: 2px;
    /* line-height: 2px; */
}

.container-padding {
    padding: 0 50px 0 30px;
}

.header-container h1 {
    font-size: 52px;
    color: #000000;
    font-weight: 600;
}

.service-text h3 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 20px;
}

.service-text p {
    font-size: 19px;
    color: #757575;
    font-family: 'Lucida Sans';
}

.m-bottom {
    margin-bottom: 8rem;
}