<div class="container-fluid">
    <div class="row">
        <div class="col-12 background-image">

            
            
            <div class="row">
                <div class="col-12">
                    <div class="container">
                        <div class="row">
                            <div class="col-2"></div>
                            <div class="col-5">
                                <div>
                                    <h3 class="text-gap">WELCOME TO GLINT</h3>
                                </div>

                                <div>
                                    <h1 class="text-white l-hight">We are a creative group of people who design influential brands and digital experiences.</h1>
                                </div>

                                <div class="button-container d-flex gap-3 mt-5">
                                    <div>
                                        <button class="btn">START A PROJECT</button>
                                    </div>
                                    <div>
                                        <button class="btn">MORE ABOUT US</button>
                                    </div>
                                </div>
                            </div>

                            <div class="col-4"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>