<div class="container-fluid">
    <div class="row">
        <div class="col-12 background-image">

            <app-header></app-header>

            <div class="row">
                <div class="col-12">

                    <div class="container">
                        <div class="row">
                            <div class="col-12 ms-5">
                                <div>
                                    <h3 class="text-gap">WELCOME TO GLINT</h3>
                                </div>
    
                                <div>
                                    <h1 class="text-white">We are a creative group <br> of people who design <br> influential brands and <br> digital experiences.</h1>
                                </div>
    
                                <div class="button-container d-flex gap-3">
                                    <div>
                                        <button class="btn">START A PROJECT</button>
                                    </div>
                                    <div>
                                        <button class="btn">MORE ABOUT US</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>